<!-- Slider de Juegos destacados -->
<ion-slides>
	<ion-slide>
		<ion-row center>
		    <ion-col style="height: 100px">
		    	<div style="width: 40%;float:left;border:0">
		    		<ion-avatar item-left class="daygames" style="background-image: url(https://s-media-cache-ak0.pinimg.com/236x/ef/05/22/ef052233450d415af8243bd15aec365a.jpg);"></ion-avatar>
		    	</div>
		    	<div style="width: 20%;float:left;border:0;height: 60px">
		    		vs
		    	</div>
		    	<div style="width: 40%;float:left;border:0">
		    		<ion-avatar item-left class="daygames" style="background-image: url(https://yt3.ggpht.com/-3DY1QL70WKk/AAAAAAAAAAI/AAAAAAAAAAA/y-zTzyKSKaE/s900-c-k-no-mo-rj-c0xffffff/photo.jpg);">
				      
				    </ion-avatar>
		    	</div>
		    	<div style="width: 100%;float:left">
		    		07:00 PM
		    	</div>
		    	
    		   <!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 teamday">
    		   		<ion-avatar item-left class="daygames" style="background-image: url(https://s-media-cache-ak0.pinimg.com/236x/ef/05/22/ef052233450d415af8243bd15aec365a.jpg);">
				      
				    </ion-avatar>
	    		   	
    		   </div>

    		   <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 teamday">
    		   		<span>VS</span>
    		   </div>

    		   	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 teamday">
    		   		<ion-avatar item-left class="daygames" style="background-image: url(https://yt3.ggpht.com/-3DY1QL70WKk/AAAAAAAAAAI/AAAAAAAAAAA/y-zTzyKSKaE/s900-c-k-no-mo-rj-c0xffffff/photo.jpg);">
				      
				    </ion-avatar>
    		  	</div>
		    	<div class="hourcaption">
	    		   		<a href="#">Hora</a>
	    		   	</div>-->
		    </ion-col>
		    <ion-col style="height: 100px">
		    	<div style="height: 90px">
		    		PULICIDAD
		    	</div>
		    </ion-col>
		    
		</ion-row>

	  	<ion-row center>
		    <ion-col style="height: 100px">
		    	<div style="width: 40%;float:left;border:0">
		    		<ion-avatar item-left class="daygames" style="background-image: url(https://s-media-cache-ak0.pinimg.com/236x/ef/05/22/ef052233450d415af8243bd15aec365a.jpg);"></ion-avatar>
		    	</div>
		    	<div style="width: 20%;float:left;border:0;height: 60px">
		    		vs
		    	</div>
		    	<div style="width: 40%;float:left;border:0">
		    		<ion-avatar item-left class="daygames" style="background-image: url(https://yt3.ggpht.com/-3DY1QL70WKk/AAAAAAAAAAI/AAAAAAAAAAA/y-zTzyKSKaE/s900-c-k-no-mo-rj-c0xffffff/photo.jpg);">
				      
				    </ion-avatar>
		    	</div>
		    	<div style="width: 100%;float:left">
		    		07:00 PM
		    	</div>
		    	
    		  
		    </ion-col>
		    <ion-col style="height: 100px">
		    	<div style="width: 40%;float:left;border:0">
		    		<ion-avatar item-left class="daygames" style="background-image: url(https://s-media-cache-ak0.pinimg.com/236x/ef/05/22/ef052233450d415af8243bd15aec365a.jpg);"></ion-avatar>
		    	</div>
		    	<div style="width: 20%;float:left;border:0;height: 60px">
		    		vs
		    	</div>
		    	<div style="width: 40%;float:left;border:0">
		    		<ion-avatar item-left class="daygames" style="background-image: url(https://yt3.ggpht.com/-3DY1QL70WKk/AAAAAAAAAAI/AAAAAAAAAAA/y-zTzyKSKaE/s900-c-k-no-mo-rj-c0xffffff/photo.jpg);">
				      
				    </ion-avatar>
		    	</div>
		    	<div style="width: 100%;float:left">
		    		07:00 PM
		    	</div>
		    	
    		   
		    </ion-col>
		    
		</ion-row>
	</ion-slide>

	<ion-slide>
		<ion-row center>
		    <ion-col style="height: 100px">
		    	<div style="width: 40%;float:left;border:0">
		    		<ion-avatar item-left class="daygames" style="background-image: url(https://s-media-cache-ak0.pinimg.com/236x/ef/05/22/ef052233450d415af8243bd15aec365a.jpg);"></ion-avatar>
		    	</div>
		    	<div style="width: 20%;float:left;border:0;height: 60px">
		    		vs
		    	</div>
		    	<div style="width: 40%;float:left;border:0">
		    		<ion-avatar item-left class="daygames" style="background-image: url(https://yt3.ggpht.com/-3DY1QL70WKk/AAAAAAAAAAI/AAAAAAAAAAA/y-zTzyKSKaE/s900-c-k-no-mo-rj-c0xffffff/photo.jpg);">
				      
				    </ion-avatar>
		    	</div>
		    	<div style="width: 100%;float:left">
		    		07:00 PM
		    	</div>
		    	
    		   
		    </ion-col>
		    <ion-col style="height: 100px">
		    	<div style="height: 90px">
		    		PULICIDAD
		    	</div>
		    </ion-col>
		    
		</ion-row>

	  	<ion-row center>
		    <ion-col style="height: 100px">
		    	<div style="width: 40%;float:left;border:0">
		    		<ion-avatar item-left class="daygames" style="background-image: url(https://s-media-cache-ak0.pinimg.com/236x/ef/05/22/ef052233450d415af8243bd15aec365a.jpg);"></ion-avatar>
		    	</div>
		    	<div style="width: 20%;float:left;border:0;height: 60px">
		    		vs
		    	</div>
		    	<div style="width: 40%;float:left;border:0">
		    		<ion-avatar item-left class="daygames" style="background-image: url(https://yt3.ggpht.com/-3DY1QL70WKk/AAAAAAAAAAI/AAAAAAAAAAA/y-zTzyKSKaE/s900-c-k-no-mo-rj-c0xffffff/photo.jpg);">
				      
				    </ion-avatar>
		    	</div>
		    	<div style="width: 100%;float:left">
		    		07:00 PM
		    	</div>
		    	
    		   
		    </ion-col>
		    <ion-col style="height: 100px">
		    	<div style="width: 40%;float:left;border:0">
		    		<ion-avatar item-left class="daygames" style="background-image: url(https://s-media-cache-ak0.pinimg.com/236x/ef/05/22/ef052233450d415af8243bd15aec365a.jpg);"></ion-avatar>
		    	</div>
		    	<div style="width: 20%;float:left;border:0;height: 60px">
		    		vs
		    	</div>
		    	<div style="width: 40%;float:left;border:0">
		    		<ion-avatar item-left class="daygames" style="background-image: url(https://yt3.ggpht.com/-3DY1QL70WKk/AAAAAAAAAAI/AAAAAAAAAAA/y-zTzyKSKaE/s900-c-k-no-mo-rj-c0xffffff/photo.jpg);">
				      
				    </ion-avatar>
		    	</div>
		    	<div style="width: 100%;float:left">
		    		07:00 PM
		    	</div>
		    	
    		   
		    </ion-col>
		    
		</ion-row>
	</ion-slide>
</ion-slides>


