<!-- 

	Tab que contiene slider de los deportes disponibles:

 -->
<ion-header class="grid-slider">
 <ion-navbar>
    
    <!--<ion-title>Aqui el slider</ion-title>-->
    <!--<ion-slides pager>> -->
    <ion-slides>
    	<ion-slide>
    		<ion-row center>
			    <ion-col>
			    	<div>
			    		<!--<ion-item>
						    <ion-avatar item-left >
						      <img src="https://www.lvbp.com/assets/img/site/Logo-LVBP.jpg">
						    </ion-avatar>
						    
						  </ion-item>-->
						  <ion-avatar item-left id="beisbol-icon">
						      <!--<img src="https://www.lvbp.com/assets/img/site/Logo-LVBP.jpg">-->
						    </ion-avatar>
			    	</div>
			    </ion-col>
			    <ion-col>
			    	<div>
			    		<!--<ion-item>
						    <ion-avatar item-left >
						      <img src="https://www.lvbp.com/assets/img/site/Logo-LVBP.jpg">
						    </ion-avatar>
						    
						  </ion-item>-->
						  <ion-avatar item-left id="futbol-icon">
						      <!--<img src="https://www.lvbp.com/assets/img/site/Logo-LVBP.jpg">-->
						    </ion-avatar>
			    	</div>
			    </ion-col>
			    <ion-col>
			    	<div>
			    		<!--<ion-item>
						    <ion-avatar item-left >
						      <img src="https://www.lvbp.com/assets/img/site/Logo-LVBP.jpg">
						    </ion-avatar>
						    
						  </ion-item>-->
						  <ion-avatar item-left id="beisbol-icon">
						      <!--<img src="https://www.lvbp.com/assets/img/site/Logo-LVBP.jpg">-->
						    </ion-avatar>
			    	</div>
			    </ion-col>
			    <ion-col>
			    	<div>
			    		<!--<ion-item>
						    <ion-avatar item-left >
						      <img src="https://www.lvbp.com/assets/img/site/Logo-LVBP.jpg">
						    </ion-avatar>
						    
						  </ion-item>-->
						  <ion-avatar item-left id="futbol-icon">
						      <!--<img src="https://www.lvbp.com/assets/img/site/Logo-LVBP.jpg">-->
						    </ion-avatar>
			    	</div>
			    </ion-col>
			   	<ion-col>
			    	<div>
			    		<!--<ion-item>
						    <ion-avatar item-left >
						      <img src="https://www.lvbp.com/assets/img/site/Logo-LVBP.jpg">
						    </ion-avatar>
						    
						  </ion-item>-->
						  <ion-avatar item-left id="futbol-icon">
						      <!--<img src="https://www.lvbp.com/assets/img/site/Logo-LVBP.jpg">-->
						    </ion-avatar>
			    	</div>
			    </ion-col>
			    
			    <!--<ion-col>
			    	<div>
			    		
						   <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
			    	</div>
			    </ion-col>-->
			   

			  </ion-row>
			  
    	</ion-slide>
    	<ion-slide>
    		<ion-row center>
    			<ion-col>
			    	<div>
			    		<!--<ion-item>
						    <ion-avatar item-left >
						      <img src="https://www.lvbp.com/assets/img/site/Logo-LVBP.jpg">
						    </ion-avatar>
						    
						  </ion-item>-->
						  <ion-avatar item-left id="futbol-icon">
						      <!--<img src="https://www.lvbp.com/assets/img/site/Logo-LVBP.jpg">-->
						    </ion-avatar>
			    	</div>
			    </ion-col>
			    <ion-col>
			    	<div>
			    		<!--<ion-item>
						    <ion-avatar item-left >
						      <img src="https://www.lvbp.com/assets/img/site/Logo-LVBP.jpg">
						    </ion-avatar>
						    
						  </ion-item>-->
						  <ion-avatar item-left id="beisbol-icon">
						      <!--<img src="https://www.lvbp.com/assets/img/site/Logo-LVBP.jpg">-->
						    </ion-avatar>
			    	</div>
			    </ion-col>
			    <ion-col>
			    	<div>
			    		<!--<ion-item>
						    <ion-avatar item-left >
						      <img src="https://www.lvbp.com/assets/img/site/Logo-LVBP.jpg">
						    </ion-avatar>
						    
						  </ion-item>-->
						  <ion-avatar item-left id="futbol-icon">
						      <!--<img src="https://www.lvbp.com/assets/img/site/Logo-LVBP.jpg">-->
						    </ion-avatar>
			    	</div>
			    </ion-col>
			     <ion-col>
			    	<div>
			    		<!--<ion-item>
						    <ion-avatar item-left >
						      <img src="https://www.lvbp.com/assets/img/site/Logo-LVBP.jpg">
						    </ion-avatar>
						    
						  </ion-item>-->
						  <ion-avatar item-left id="beisbol-icon">
						      <!--<img src="https://www.lvbp.com/assets/img/site/Logo-LVBP.jpg">-->
						    </ion-avatar>
			    	</div>
			    </ion-col>

			    <ion-col>
			    	<div>
			    		<!--<ion-item>
						    <ion-avatar item-left >
						      <img src="https://www.lvbp.com/assets/img/site/Logo-LVBP.jpg">
						    </ion-avatar>
						    
						  </ion-item>-->
						  <ion-avatar item-left id="futbol-icon">
						      <!--<img src="https://www.lvbp.com/assets/img/site/Logo-LVBP.jpg">-->
						    </ion-avatar>
			    	</div>
			    </ion-col>
			   
			  </ion-row>
    	</ion-slide>
    </ion-slides>

    <!--<div id="arrow-slider" (click)="openModal({charNum: 0})">	    		-->
     <div id="arrow-slider" (click)="openPage()">	 
		<ion-icon ios="ios-menu" md="md-menu"></ion-icon>
	</div>
  </ion-navbar>
  
</ion-header>

